/*
body{
    background-color: blanchedalmond;
}
p{
    color: green;
    text-align: center;
}

#para1{
    color:fuchsia;
    text-align:left;
}

.mystyle{
    color:darkred;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

*{
    color: black;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;    
    background-color: aquamarine;    
}*/
p{
    width: 200px;
    border: 1px solid; border-color: blue;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p:hover{
    
    overflow: visible;
}
